<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>zui-admin</title>
  <!-- zui css -->
  <link href="dist/css/zui.min.css" rel="stylesheet">
  <link href="dist/theme/blue.css" rel="stylesheet">
  <!-- app css -->
  <link href="css/app.css" rel="stylesheet">
  <!-- jquery js -->
  <script src="dist/lib/jquery/jquery.js"></script>

</head>
<body>
<div class="page page-error text-center">
  <header>
    <h1>404</h1>
    <p>您要的页面找不到了！</p>
  </header>
  <a class="btn btn-primary btn-round" href="index.html" style="margin-right:10px;">回到首页</a>
  <a class="btn btn-round" href="javascript:history.back();">返回上页</a>
  <footer class="page-copyright">
    <p>WEBSITE BY 莫非</p>
    <p>© 2018. All RIGHT RESERVED.</p>
  </footer>
</div>

<!-- zui js -->
<script src="dist/js/zui.min.js"></script>
<!-- app js -->
<script src="js/app.js"></script>
</body>
</html>
